Repository cwlbraa/luanerizer: changes, and which pre-commit hooks are due for each by the changed paths.
All: export-requirements, pylint

.pre-commit-config.yaml:

---
repos:
- repo: local
  hooks:
    - id: export-requirements
      name: export requirements.txt
      language: system
      pass_filenames: false
      entry: poetry export --without-hashes -o requirements.txt
      files: ^(pyproject.toml|poetry.lock)$
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
- repo: https://github.com/ambv/black
  rev: 20.8b1
  hooks:
  - id: black
    args: [--safe, --quiet]

move to gke
  cloudbuild.yaml
Due: none

add broker url to gcloud run update command
  cloudbuild.yaml
Due: none

specify cluster location on update
  cloudbuild.yaml
Due: none

fix cloudevent data accessors
  luanerizer.py
Due: pylint

attempt to respond in the event handler
  luanerizer.py
Due: pylint

attempt to send body in outgoing handler request instead of whole response
  luanerizer.py
Due: pylint

fixup the requests response situation
  luanerizer.py
Due: pylint

fix subtle iterator bug produced by refactor
  luanerizer.py
Due: pylint

import nltk only when it's used
  luanerizer.py
Due: pylint

move to app.py and remove Procfile
  Procfile
  app.py
Due: pylint

indicate intended response_type on initial post_async requests
  app.py
Due: pylint

rename luanerizer.py to app.py, switch to production bjoern server
  Procfile
  app.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: export-requirements, pylint

install libev when running pylint
  .github/workflows/pylint.yml
Due: none

give root when installing ubuntu packages on github
  .github/workflows/pylint.yml
Due: none

switch from bjoern to gunicorn, bjoern doesnt work good on cloud run
  Procfile
  app.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: export-requirements, pylint

set min-instances and concurrency to one to fix cold start
  .github/workflows/pylint.yml
  cloudbuild.yaml
Due: none

try flask run instead of gunicorn for cold starts
  Procfile
  cloudbuild.yaml
Due: none

switch back to gunicorn and set min-instances
  Procfile
  cloudbuild.yaml
Due: none

add healthz endpoint
  app.py
Due: pylint

attempt to kubectl apply via cloudbuild.yaml
  .gitignore
  cloudbuild.yaml
  config/ksvc.yaml
  config/kustomization.yaml
Due: none

try slightly different image based on blog?
  cloudbuild.yaml
Due: none

update image seperately from apply
  cloudbuild.yaml
  config/kustomization.yaml
Due: none

use ytt to template image
  cloudbuild.yaml
  config/ksvc.yaml
  config/values.yaml
Due: none

cloud build the knbuilder image
  cloudbuild.yaml
Due: none

build custom builder in cloudbuild
  cloudbuild.yaml
  custom-builder/Dockerfile
Due: none

try evaluating kubectl apply in a yaml literal
  cloudbuild.yaml
Due: none

remove stray subshell invokation
  cloudbuild.yaml
Due: none

set env on specific step
  cloudbuild.yaml
Due: none

set credentials in independent step
  cloudbuild.yaml
Due: none

try head~1 with correct waitFors
  cloudbuild.yaml
Due: none

upgrade python version
  runtime.txt
Due: none

give up on those env vars and set in a seperate step instead
  cloudbuild.yaml
Due: none

move image hash to correct level inside "containers"
  config/ksvc.yaml
Due: none

use kapp deploy instead of kubectl apply
  cloudbuild.yaml
Due: none

add appname to kapp deploy
  cloudbuild.yaml
Due: none

attempt to get local deploy working in the cloud
  config/ksvc.yaml
Due: none

attempt to get deploy working solely through kapp
  config/ksvc.yaml
Due: none

add kapp wait rule for ksvc & http healthcheck
  cloudbuild.yaml
  config/kapp.yaml
  config/ksvc.yaml
Due: none

add canary deployment to cloudbuild.yaml with a ytt overlay to set up second revision
  cloudbuild.yaml
  config/ksvc.yaml
  overlays/ksvc-canary.yaml
Due: none

attempt canary deploy via ytt
  cloudbuild.yaml
  config/ksvc.yaml
  config/values.yaml
  overlays/ksvc-canary.yaml
Due: none
