Repository cwlbraa/luanerizer: changes, and which pre-commit hooks are due for each by the changed paths.
All: export-requirements, pylint

export-requirements:
  name: export requirements.txt
  language: system
  pass_filenames: false
  entry: poetry export --without-hashes -o requirements.txt

pylint:
  name: pylint
  entry: pylint
  language: system

fix typo
  cloudbuild.yaml
Due: none

add retries to the canary healthcheck curl
  cloudbuild.yaml
Due: none

noop deploy
  cloudbuild.yaml
Due: none

use empty string for previousRevision if checks
  cloudbuild.yaml
  config/values.yaml
Due: none

update a useless default to test incremental canary deploy
  app.py
Due: pylint

add broker and trigger ymls to config
  config/broker.yaml
  config/trigger.yaml
Due: none

add broker url to ksvc config
  config/ksvc.yaml
Due: none

update README
  README.md
Due: none

Update README.md
  README.md
Due: none

cleaner poetry direnv on linux
  .envrc
  .gitignore
  pyproject.toml
Due: export-requirements

fix broken README link
  README.md
Due: none

update poetry lock
  poetry.lock
Due: export-requirements

Path conditions:
  export-requirements: any of: ^(pyproject.toml|poetry.lock)$
  pylint: any of: \.py$
